In [1]:
from bs4 import BeautifulSoup
import requests as r
import csv
import pandas as pd

Wikipedia page- List of Most viewed you tube videos

In [3]:
response=r.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
wiki_text=response.text

In [5]:
soup=BeautifulSoup(wiki_text,'html.parser')

In [6]:
print(len(soup.find_all('table')))

10

In [7]:
table_soup=soup.find_all('table')
filtered_table_soup=[table for table in table_soup if table.caption is not None]

In [8]:
print(len(filtered_table_soup))

3

In [9]:
required_table = None

In [10]:
for table in filtered_table_soup:
    if str(table.caption.string).strip() == 'Top 30 most-viewed YouTube videos':
        required_table = table
        break 

print(required_table)

<table class="wikitable sortable">
<caption>Top 30 most-viewed YouTube videos
</caption>
<tbody><tr>
<th><abbr title="Number">No.</abbr>
</th>
<th>Video name
</th>
<th>Uploader
</th>
<th>Views (billions)
</th>
<th data-sort-type="usLongDate">Upload date
</th>
<th class="unsortable">Note
</th></tr>
<tr>
<td align="center">1.</td>
<td>"<a class="mw-redirect" href="/wiki/Baby_Shark_Dance" title="Baby Shark Dance">Baby Shark Dance</a>"<sup class="reference" id="cite_ref-Baby_Shark_Dance_23-0"><a href="#cite_note-Baby_Shark_Dance-23">[22]</a></sup></td>
<td><a href="/wiki/Pinkfong" title="Pinkfong">Pinkfong Kids' Songs &amp; Stories</a></td>
<td align="center">8.81</td>
<td align="right">June 17, 2016</td>
<td align="center"><sup class="reference" id="cite_ref-25"><a href="#cite_note-25">[B]</a></sup>
</td></tr>
<tr>
<td align="center">2.</td>
<td>"<a href="/wiki/Despacito#Music_video" title="Despacito">Despacito</a>"<sup class="reference" id="cite_ref-Despacito_26-0"><a href="#cite_note-Despacito-26">[24]</a></sup></td>
<td><a href="/wiki/Luis_Fonsi" title="Luis Fonsi">Luis Fonsi</a></td>
<td align="center">7.40</td>
<td align="right">January 12, 2017</td>
<td align="center"><sup class="reference" id="cite_ref-27"><a href="#cite_note-27">[C]</a></sup>
</td></tr>
<tr>
<td align="center">3.</td>
<td>"<a href="/wiki/Johny_Johny_Yes_Papa#Music_videos" title="Johny Johny Yes Papa">Johny Johny Yes Papa</a>"<sup class="reference" id="cite_ref-Johny_Johny_Yes_Papa_28-0"><a href="#cite_note-Johny_Johny_Yes_Papa-28">[25]</a></sup></td>
<td>LooLoo Kids</td>
<td align="center">5.47</td>
<td align="right">October 8, 2016</td>
<td align="center"><sup class="reference" id="cite_ref-29"><a href="#cite_note-29">[D]</a></sup>
</td></tr>
<tr>
<td align="center">4.</td>
<td>"<a href="/wiki/Shape_of_You#Music_video" title="Shape of You">Shape of You</a>"<sup class="reference" id="cite_ref-Shape_of_You_30-0"><a href="#cite_note-Shape_of_You-30">[26]</a></sup></td>
<td><a href="/wiki/Ed_Sheeran" title="Ed Sheeran">Ed Sheeran</a></td>
<td align="center">5.35</td>
<td align="right">January 30, 2017</td>
<td align="center"><sup class="reference" id="cite_ref-31"><a href="#cite_note-31">[E]</a></sup>
</td></tr>
<tr>
<td align="center">5.</td>
<td>"<a href="/wiki/See_You_Again#Music_video" title="See You Again">See You Again</a>"<sup class="reference" id="cite_ref-See_You_Again_32-0"><a href="#cite_note-See_You_Again-32">[27]</a></sup></td>
<td><a href="/wiki/Wiz_Khalifa" title="Wiz Khalifa">Wiz Khalifa</a></td>
<td align="center">5.14</td>
<td align="right">April 6, 2015</td>
<td align="center"><sup class="reference" id="cite_ref-35"><a href="#cite_note-35">[F]</a></sup>
</td></tr>
<tr>
<td align="center">6.</td>
<td>"<i><a href="/wiki/Masha_and_the_Bear" title="Masha and the Bear">Masha and the Bear</a></i> – Recipe for Disaster"<sup class="reference" id="cite_ref-Masha_and_the_Bear_36-0"><a href="#cite_note-Masha_and_the_Bear-36">[30]</a></sup></td>
<td>Get Movies</td>
<td align="center">4.44</td>
<td align="right">January 31, 2012</td>
<td align="center"><sup class="reference" id="cite_ref-37"><a href="#cite_note-37">[G]</a></sup>
</td></tr>
<tr>
<td align="center">7.</td>
<td>"<a href="/wiki/Uptown_Funk#Music_video" title="Uptown Funk">Uptown Funk</a>"<sup class="reference" id="cite_ref-Uptown_Funk_38-0"><a href="#cite_note-Uptown_Funk-38">[31]</a></sup></td>
<td><a href="/wiki/Mark_Ronson" title="Mark Ronson">Mark Ronson</a></td>
<td align="center">4.20</td>
<td align="right">November 19, 2014</td>
<td align="center"><sup class="reference" id="cite_ref-39"><a href="#cite_note-39">[H]</a></sup>
</td></tr>
<tr>
<td align="center">8.</td>
<td>"Bath Song"<sup class="reference" id="cite_ref-Bath_Song_40-0"><a href="#cite_note-Bath_Song-40">[32]</a></sup></td>
<td><a class="mw-redirect" href="/wiki/Cocomelon_%E2%80%93_Nursery_Rhymes" title="Cocomelon – Nursery Rhymes">Cocomelon – Nursery Rhymes</a></td>
<td align="center">4.16</td>
<td align="right">May 2, 2018</td>
<td align="center"><sup class="reference" id="cite_ref-41"><a href="#cite_note-41">[I]</a></sup>
</td></tr>
<tr>
<td align="center">9.</td>
<td>"Learning Colors – Colorful Eggs on a Farm"<sup class="reference" id="cite_ref-Eggs_42-0"><a href="#cite_note-Eggs-42">[33]</a></sup></td>
<td>Miroshka TV</td>
<td align="center">4.16</td>
<td align="right">February 27, 2018</td>
<td align="center"><sup class="reference" id="cite_ref-43"><a href="#cite_note-43">[J]</a></sup>
</td></tr>
<tr>
<td align="center">10.</td>
<td>"<a href="/wiki/Gangnam_Style_(music_video)" title="Gangnam Style (music video)">Gangnam Style</a>"<sup class="reference" id="cite_ref-Gangnam_Style_44-0"><a href="#cite_note-Gangnam_Style-44">[34]</a></sup></td>
<td><a href="/wiki/Psy" title="Psy">Psy</a></td>
<td align="center">4.09</td>
<td align="right">July 15, 2012</td>
<td align="center"><sup class="reference" id="cite_ref-46"><a href="#cite_note-46">[K]</a></sup>
</td></tr>
<tr>
<td align="center">11.</td>
<td>"Phonics Song with Two Words"<sup class="reference" id="cite_ref-Phonics_Song_47-0"><a href="#cite_note-Phonics_Song-47">[36]</a></sup></td>
<td><a href="/wiki/ChuChu_TV" title="ChuChu TV">ChuChu TV</a></td>
<td align="center">3.93</td>
<td align="right">March 6, 2014</td>
<td>
</td></tr>
<tr>
<td align="center">12.</td>
<td>"<a href="/wiki/Sugar_(Maroon_5_song)#Music_video" title="Sugar (Maroon 5 song)">Sugar</a>"<sup class="reference" id="cite_ref-Sugar_48-0"><a href="#cite_note-Sugar-48">[37]</a></sup></td>
<td><a href="/wiki/Maroon_5" title="Maroon 5">Maroon 5</a></td>
<td align="center">3.49</td>
<td align="right">January 14, 2015</td>
<td>
</td></tr>
<tr>
<td align="center">13.</td>
<td>"<a href="/wiki/Sorry_(Justin_Bieber_song)#Music_video" title="Sorry (Justin Bieber song)">Sorry</a>"<sup class="reference" id="cite_ref-Sorry_49-0"><a href="#cite_note-Sorry-49">[38]</a></sup></td>
<td><a href="/wiki/Justin_Bieber" title="Justin Bieber">Justin Bieber</a></td>
<td align="center">3.44</td>
<td align="right">October 22, 2015</td>
<td>
</td></tr>
<tr>
<td align="center">14.</td>
<td>"<a href="/wiki/Dame_Tu_Cosita#Music_video" title="Dame Tu Cosita">Dame Tu Cosita</a>"<sup class="reference" id="cite_ref-Dame_Tu_Cosita_50-0"><a href="#cite_note-Dame_Tu_Cosita-50">[39]</a></sup></td>
<td><a href="/wiki/El_Chombo" title="El Chombo">El Chombo</a></td>
<td align="center">3.39</td>
<td align="right">April 5, 2018</td>
<td>
</td></tr>
<tr>
<td align="center">15.</td>
<td>"<a href="/wiki/Roar_(song)#Music_video" title="Roar (song)">Roar</a>"<sup class="reference" id="cite_ref-Roar_51-0"><a href="#cite_note-Roar-51">[40]</a></sup></td>
<td><a href="/wiki/Katy_Perry" title="Katy Perry">Katy Perry</a></td>
<td align="center">3.37</td>
<td align="right">September 5, 2013</td>
<td>
</td></tr>
<tr>
<td align="center">16.</td>
<td>"<a href="/wiki/Counting_Stars#Music_video" title="Counting Stars">Counting Stars</a>"<sup class="reference" id="cite_ref-Counting_Stars_52-0"><a href="#cite_note-Counting_Stars-52">[41]</a></sup></td>
<td><a href="/wiki/OneRepublic" title="OneRepublic">OneRepublic</a></td>
<td align="center">3.32</td>
<td align="right">May 31, 2013</td>
<td>
</td></tr>
<tr>
<td align="center">17.</td>
<td>"<a href="/wiki/Thinking_Out_Loud#Music_video" title="Thinking Out Loud">Thinking Out Loud</a>"<sup class="reference" id="cite_ref-Thinking_Out_Loud_53-0"><a href="#cite_note-Thinking_Out_Loud-53">[42]</a></sup></td>
<td><a href="/wiki/Ed_Sheeran" title="Ed Sheeran">Ed Sheeran</a></td>
<td align="center">3.27</td>
<td align="right">October 7, 2014</td>
<td>
</td></tr>
<tr>
<td align="center">18.</td>
<td>"<a href="/wiki/Dark_Horse_(Katy_Perry_song)#Music_video" title="Dark Horse (Katy Perry song)">Dark Horse</a>"<sup class="reference" id="cite_ref-54"><a href="#cite_note-54">[43]</a></sup></td>
<td><a href="/wiki/Katy_Perry" title="Katy Perry">Katy Perry</a></td>
<td align="center">3.09</td>
<td align="right">February 20, 2014</td>
<td>
</td></tr>
<tr>
<td align="center">19.</td>
<td>"Wheels on the Bus"<sup class="reference" id="cite_ref-55"><a href="#cite_note-55">[44]</a></sup></td>
<td><a class="mw-redirect" href="/wiki/Cocomelon_%E2%80%93_Nursery_Rhymes" title="Cocomelon – Nursery Rhymes">Cocomelon – Nursery Rhymes</a></td>
<td align="center">3.08</td>
<td align="right">May 24, 2018</td>
<td>
</td></tr>
<tr>
<td align="center">20.</td>
<td>"<a href="/wiki/Faded_(Alan_Walker_song)#Music_video" title="Faded (Alan Walker song)">Faded</a>"<sup class="reference" id="cite_ref-Faded_56-0"><a href="#cite_note-Faded-56">[45]</a></sup></td>
<td><a href="/wiki/Alan_Walker_(music_producer)" title="Alan Walker (music producer)">Alan Walker</a></td>
<td align="center">3.08</td>
<td align="right">December 3, 2015</td>
<td>
</td></tr>
<tr>
<td align="center">21.</td>
<td>"<a href="/wiki/Shake_It_Off#Music_video" title="Shake It Off">Shake It Off</a>"<sup class="reference" id="cite_ref-Shake_It_Off_57-0"><a href="#cite_note-Shake_It_Off-57">[46]</a></sup></td>
<td><a href="/wiki/Taylor_Swift" title="Taylor Swift">Taylor Swift</a></td>
<td align="center">3.07</td>
<td align="right">August 18, 2014</td>
<td>
</td></tr>
<tr>
<td align="center">22.</td>
<td>"<a href="/wiki/Lean_On#Music_video" title="Lean On">Lean On</a>"<sup class="reference" id="cite_ref-Lean_On_58-0"><a href="#cite_note-Lean_On-58">[47]</a></sup></td>
<td><a href="/wiki/Major_Lazer" title="Major Lazer">Major Lazer</a></td>
<td align="center">3.05</td>
<td align="right">March 22, 2015</td>
<td>
</td></tr>
<tr>
<td align="center">23.</td>
<td>"<a href="/wiki/Girls_Like_You#Music_videos" title="Girls Like You">Girls Like You</a>"<sup class="reference" id="cite_ref-Girls_Like_You_59-0"><a href="#cite_note-Girls_Like_You-59">[48]</a></sup></td>
<td><a href="/wiki/Maroon_5" title="Maroon 5">Maroon 5</a></td>
<td align="center">3.05</td>
<td align="right">May 31, 2018</td>
<td>
</td></tr>
<tr>
<td align="center">24.</td>
<td>"<a href="/wiki/Bailando_(Enrique_Iglesias_song)#Music_video" title="Bailando (Enrique Iglesias song)">Bailando</a>"<sup class="reference" id="cite_ref-Bailando_60-0"><a href="#cite_note-Bailando-60">[49]</a></sup></td>
<td><a href="/wiki/Enrique_Iglesias" title="Enrique Iglesias">Enrique Iglesias</a></td>
<td align="center">3.05</td>
<td align="right">April 11, 2014</td>
<td>
</td></tr>
<tr>
<td align="center">25.</td>
<td>"<a href="/wiki/Let_Her_Go#Music_video" title="Let Her Go">Let Her Go</a>"<sup class="reference" id="cite_ref-Let_Her_Go_61-0"><a href="#cite_note-Let_Her_Go-61">[50]</a></sup></td>
<td><a href="/wiki/Passenger_(singer)" title="Passenger (singer)">Passenger</a></td>
<td align="center">3.01</td>
<td align="right">July 25, 2012</td>
<td>
</td></tr>
<tr>
<td align="center">26.</td>
<td>"<a href="/wiki/Mi_Gente_(J_Balvin_and_Willy_William_song)#Music_video" title="Mi Gente (J Balvin and Willy William song)">Mi Gente</a>"<sup class="reference" id="cite_ref-Mi_Gente_62-0"><a href="#cite_note-Mi_Gente-62">[51]</a></sup></td>
<td><a href="/wiki/J_Balvin" title="J Balvin">J Balvin</a></td>
<td align="center">2.93</td>
<td align="right">June 29, 2017</td>
<td>
</td></tr>
<tr>
<td align="center">27.</td>
<td>"<a href="/wiki/Perfect_(Ed_Sheeran_song)#Music_video" title="Perfect (Ed Sheeran song)">Perfect</a>"<sup class="reference" id="cite_ref-Perfect_63-0"><a href="#cite_note-Perfect-63">[52]</a></sup></td>
<td><a href="/wiki/Ed_Sheeran" title="Ed Sheeran">Ed Sheeran</a></td>
<td align="center">2.87</td>
<td align="right">November 9, 2017</td>
<td>
</td></tr>
<tr>
<td align="center">28.</td>
<td>"<a href="/wiki/Waka_Waka_(This_Time_for_Africa)#Music_video" title="Waka Waka (This Time for Africa)">Waka Waka (This Time for Africa)</a>"<sup class="reference" id="cite_ref-Waka_Waka_64-0"><a href="#cite_note-Waka_Waka-64">[53]</a></sup></td>
<td><a href="/wiki/Shakira" title="Shakira">Shakira</a></td>
<td align="center">2.85</td>
<td align="right">June 4, 2010</td>
<td>
</td></tr>
<tr>
<td align="center">29.</td>
<td>"<a href="/wiki/Hello_(Adele_song)#Music_video" title="Hello (Adele song)">Hello</a>"<sup class="reference" id="cite_ref-65"><a href="#cite_note-65">[54]</a></sup></td>
<td><a href="/wiki/Adele" title="Adele">Adele</a></td>
<td align="center">2.85</td>
<td align="right">October 22, 2015</td>
<td>
</td></tr>
<tr>
<td align="center">30.</td>
<td>"<a href="/wiki/Axel_F#Crazy_Frog_version" title="Axel F">Axel F</a>"<sup class="reference" id="cite_ref-66"><a href="#cite_note-66">[55]</a></sup></td>
<td><a href="/wiki/Crazy_Frog" title="Crazy Frog">Crazy Frog</a></td>
<td align="center">2.84</td>
<td align="right">June 16, 2009</td>
<td>
</td></tr>
<tr>
<th colspan="7" style="text-align:center; font-size:8pt;">As of June 19, 2021
</th></tr></tbody></table>

In [11]:
header_tags= required_table.find_all('th')
headers=[header.text.strip() for header in header_tags]
print(headers)

['No.', 'Video name', 'Uploader', 'Views (billions)', 'Upload date', 'Note', 'As of June 19, 2021']

In [12]:
rows=[]

data_rows=required_table.find_all('tr')
for row in data_rows:
    value=row.find_all('td')
    beautified_value=[dp.text.strip() for dp in value]
    print(beautified_value)
    
    if len(beautified_value) == 0:
        continue
        
    rows.append(beautified_value)

[]
['1.', '"Baby Shark Dance"[22]', "Pinkfong Kids' Songs & Stories", '8.81', 'June 17, 2016', '[B]']
['2.', '"Despacito"[24]', 'Luis Fonsi', '7.40', 'January 12, 2017', '[C]']
['3.', '"Johny Johny Yes Papa"[25]', 'LooLoo Kids', '5.47', 'October 8, 2016', '[D]']
['4.', '"Shape of You"[26]', 'Ed Sheeran', '5.35', 'January 30, 2017', '[E]']
['5.', '"See You Again"[27]', 'Wiz Khalifa', '5.14', 'April 6, 2015', '[F]']
['6.', '"Masha and the Bear – Recipe for Disaster"[30]', 'Get Movies', '4.44', 'January 31, 2012', '[G]']
['7.', '"Uptown Funk"[31]', 'Mark Ronson', '4.20', 'November 19, 2014', '[H]']
['8.', '"Bath Song"[32]', 'Cocomelon – Nursery Rhymes', '4.16', 'May 2, 2018', '[I]']
['9.', '"Learning Colors – Colorful Eggs on a Farm"[33]', 'Miroshka TV', '4.16', 'February 27, 2018', '[J]']
['10.', '"Gangnam Style"[34]', 'Psy', '4.09', 'July 15, 2012', '[K]']
['11.', '"Phonics Song with Two Words"[36]', 'ChuChu TV', '3.93', 'March 6, 2014', '']
['12.', '"Sugar"[37]', 'Maroon 5', '3.49', 'January 14, 2015', '']
['13.', '"Sorry"[38]', 'Justin Bieber', '3.44', 'October 22, 2015', '']
['14.', '"Dame Tu Cosita"[39]', 'El Chombo', '3.39', 'April 5, 2018', '']
['15.', '"Roar"[40]', 'Katy Perry', '3.37', 'September 5, 2013', '']
['16.', '"Counting Stars"[41]', 'OneRepublic', '3.32', 'May 31, 2013', '']
['17.', '"Thinking Out Loud"[42]', 'Ed Sheeran', '3.27', 'October 7, 2014', '']
['18.', '"Dark Horse"[43]', 'Katy Perry', '3.09', 'February 20, 2014', '']
['19.', '"Wheels on the Bus"[44]', 'Cocomelon – Nursery Rhymes', '3.08', 'May 24, 2018', '']
['20.', '"Faded"[45]', 'Alan Walker', '3.08', 'December 3, 2015', '']
['21.', '"Shake It Off"[46]', 'Taylor Swift', '3.07', 'August 18, 2014', '']
['22.', '"Lean On"[47]', 'Major Lazer', '3.05', 'March 22, 2015', '']
['23.', '"Girls Like You"[48]', 'Maroon 5', '3.05', 'May 31, 2018', '']
['24.', '"Bailando"[49]', 'Enrique Iglesias', '3.05', 'April 11, 2014', '']
['25.', '"Let Her Go"[50]', 'Passenger', '3.01', 'July 25, 2012', '']
['26.', '"Mi Gente"[51]', 'J Balvin', '2.93', 'June 29, 2017', '']
['27.', '"Perfect"[52]', 'Ed Sheeran', '2.87', 'November 9, 2017', '']
['28.', '"Waka Waka (This Time for Africa)"[53]', 'Shakira', '2.85', 'June 4, 2010', '']
['29.', '"Hello"[54]', 'Adele', '2.85', 'October 22, 2015', '']
['30.', '"Axel F"[55]', 'Crazy Frog', '2.84', 'June 16, 2009', '']
[]

In [13]:
with open('videos.csv','w') as output:
    writer=csv.writer(output)
    writer.writerow(headers)
    writer.writerows(rows)

In [14]:
yt=pd.read_csv('videos.csv',encoding='latin1')

In [17]:
yt.drop(['Note','As of June 19, 2021'],axis=1)

,No.,Video name,Uploader,Views (billions),Upload date
0,1.0,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.81,"June 17, 2016"
1,2.0,"""Despacito""[24]",Luis Fonsi,7.40,"January 12, 2017"
2,3.0,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.47,"October 8, 2016"
3,4.0,"""Shape of You""[26]",Ed Sheeran,5.35,"January 30, 2017"
4,5.0,"""See You Again""[27]",Wiz Khalifa,5.14,"April 6, 2015"
5,6.0,"""Masha and the Bear  Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.0,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
7,8.0,"""Bath Song""[32]",Cocomelon  Nursery Rhymes,4.16,"May 2, 2018"
8,9.0,"""Learning Colors  Colorful Eggs on a Farm""[33]",Miroshka TV,4.16,"February 27, 2018"
9,10.0,"""Gangnam Style""[34]",Psy,4.09,"July 15, 2012"
10,11.0,"""Phonics Song with Two Words""[36]",ChuChu TV,3.93,"March 6, 2014"
11,12.0,"""Sugar""[37]",Maroon 5,3.49,"January 14, 2015"
12,13.0,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.0,"""Dame Tu Cosita""[39]",El Chombo,3.39,"April 5, 2018"
14,15.0,"""Roar""[40]",Katy Perry,3.37,"September 5, 2013"
15,16.0,"""Counting Stars""[41]",OneRepublic,3.32,"May 31, 2013"
16,17.0,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
17,18.0,"""Dark Horse""[43]",Katy Perry,3.09,"February 20, 2014"
18,19.0,"""Wheels on the Bus""[44]",Cocomelon  Nursery Rhymes,3.08,"May 24, 2018"
19,20.0,"""Faded""[45]",Alan Walker,3.08,"December 3, 2015"
20,21.0,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
21,22.0,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
22,23.0,"""Girls Like You""[48]",Maroon 5,3.05,"May 31, 2018"
23,24.0,"""Bailando""[49]",Enrique Iglesias,3.05,"April 11, 2014"
24,25.0,"""Let Her Go""[50]",Passenger,3.01,"July 25, 2012"
25,26.0,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
26,27.0,"""Perfect""[52]",Ed Sheeran,2.87,"November 9, 2017"
27,28.0,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.85,"June 4, 2010"
28,29.0,"""Hello""[54]",Adele,2.85,"October 22, 2015"
29,30.0,"""Axel F""[55]",Crazy Frog,2.84,"June 16, 2009"

BCCI TV

In [4]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [19]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.bcci.tv/international/fixtures"
driver.get(url)
time.sleep(6)

In [20]:
Title=[]
Series=[]
Place=[]
Date=[]
Month=[]
Time=[]

In [21]:
titles=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']")
for i in titles:
    if i.text is None :
        Title.append("--") 
    else:
        Title.append(i.text)

In [22]:
series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    if i.text is None :
        Series.append("--") 
    else:
        Series.append(i.text)

In [23]:
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    if i.text is None :
        Place.append("--") 
    else:
        Place.append(i.text)

In [24]:
date=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span")
for i in date:
    if i.text is None :
        Date.append("--") 
    else:
        Date.append(i.text)

In [25]:
month=driver.find_elements_by_xpath("//span[@class='fixture__month']")
for i in month:
    if i.text is None :
        Month.append("--") 
    else:
        Month.append(i.text)

In [26]:
time=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time:
    if i.text is None :
        Time.append("--") 
    else:
        Time.append(i.text)

In [27]:
Time

['15:00 IST',
 '14:30 IST',
 '14:30 IST',
 '14:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST']

In [28]:
print(len(Title),len(Series),len(Place),len(Date),len(Month),len(Time))

12 12 12 12 12 12

In [29]:
df=pd.DataFrame({"Titles":Title,"Series":Series,"Places":Place,
                "Dates":Date, "Month":Month,"Time":Time})
df

,Titles,Series,Places,Dates,Month,Time
0,TEST,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18,JUNE,15:00 IST
1,ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",13,JULY,14:30 IST
2,ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",16,JULY,14:30 IST
3,ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18,JULY,14:30 IST
4,T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",21,JULY,19:00 IST
5,T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",23,JULY,19:00 IST
6,T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",25,JULY,19:00 IST
7,TEST,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
8,TEST,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,15:30 IST
9,TEST,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,15:30 IST
10,TEST,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,15:30 IST
11,TEST,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

billboard

In [38]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.billboard.com/charts/billboard-200"
driver.get(url)

In [39]:
Name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [40]:
name=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

In [41]:
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    if i.text is None :
        Artist_name.append("--") 
    else:
        Artist_name.append(i.text)

In [42]:
last_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_rank:
    if i.text is None :
        Last_week_rank.append("--") 
    else:
        Last_week_rank.append(i.text)

In [43]:
peak_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak_rank:
    if i.text is None :
        Peak_rank.append("--") 
    else:
        Peak_rank.append(i.text)

In [44]:
week_board=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in week_board:
    if i.text is None :
        Weeks_on_board.append("--") 
    else:
        Weeks_on_board.append(i.text)

In [45]:
df=pd.DataFrame({"Name":Name[0:100],"Artist_name":Artist_name[0:100],"Last_week_rank":Last_week_rank[0:100],
                "Peak_rank":Peak_rank[0:100], "Weeks_on_board":Weeks_on_board[0:100]})
df

,Name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,The Voice Of The Heroes,Lil Baby & Lil Durk,-,1,1
1,Sour,Olivia Rodrigo,2,1,3
2,Dangerous: The Double Album,Morgan Wallen,4,1,22
3,The Off-Season,J. Cole,3,1,4
4,The Chaos Chapter : FREEZE,TOMORROW X TOGETHER,-,5,1
...,...,...,...,...,...
95,American Teen,Khalid,94,4,223
96,SOUTHSIDE,Sam Hunt,91,5,58
97,MAP OF THE SOUL : 7,BTS,95,1,68
98,DAMN.,Kendrick Lamar,92,1,217
99,Moana,Soundtrack,104,2,235

GDP

In [46]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "http://statisticstimes.com/economy/india/indian-states-gdp.php"
driver.get(url)

In [47]:
response=r.get("http://statisticstimes.com/economy/india/indian-states-gdp.php")
text=response.text

In [48]:
soup=BeautifulSoup(text,'html.parser')

In [49]:
print(len(soup.find_all('table')))

3

In [50]:
table_soup=soup.find_all('table')
filtered_table_soup=[table for table in table_soup if table.caption is not None]

In [51]:
required_table = None

In [52]:
for table in filtered_table_soup:
    if str(table.caption.string).strip() == 'GSDP':
        required_table = table
        break 

print(required_table)

<table class="display" id="table_id" style="width:890px;display:table;border:1px solid #0000FF;">
<caption style="caption-side:top">GSDP</caption>
<thead>
<tr><th rowspan="2" style="background-color:#993366">Rank</th>
<th rowspan="2" style="background-color:#b33c00">State</th>
<th colspan="2" style="background-color:#00e64d">GSDP (Cr INR at Current prices)</th>
<th style="background-color:#9932CC">Share</th><th style="background-color:#DEB887">GDP ($billion)</th>
<th colspan="2" style="background-color:#1E90FF">GSDP (Cr INR at 2011-12 prices)</th></tr>
<tr style="background-color:#a3a375"><th>19-20</th><th>18-19</th>
<th>18-19</th><th>2019</th><th>19-20</th><th>18-19</th></tr>
</thead>
<tbody>
<tr><td class="data1">1</td><td class="name">Maharashtra</td>
<td class="data">-</td>
<td class="data">2,632,792</td>
<td class="data">13.94%</td>
<td class="data">399.921</td>
<td class="data">-</td>
<td class="data">2,039,074</td>
</tr><tr><td class="data1">2</td><td class="name">Tamil Nadu</td>
<td class="data">1,845,853</td>
<td class="data">1,630,208</td>
<td class="data">8.63%</td>
<td class="data">247.629</td>
<td class="data">1,312,929</td>
<td class="data">1,215,307</td>
</tr><tr><td class="data1">3</td><td class="name">Uttar Pradesh</td>
<td class="data">1,687,818</td>
<td class="data">1,584,764</td>
<td class="data">8.39%</td>
<td class="data">240.726</td>
<td class="data">1,166,817</td>
<td class="data">1,123,982</td>
</tr><tr><td class="data1">4</td><td class="name">Gujarat</td>
<td class="data">-</td>
<td class="data">1,502,899</td>
<td class="data">7.96%</td>
<td class="data">228.290</td>
<td class="data">-</td>
<td class="data">1,186,379</td>
</tr><tr><td class="data1">5</td><td class="name">Karnataka</td>
<td class="data">1,631,977</td>
<td class="data">1,493,127</td>
<td class="data">7.91%</td>
<td class="data">226.806</td>
<td class="data">1,156,039</td>
<td class="data">1,091,077</td>
</tr><tr><td class="data1">6</td><td class="name">West Bengal</td>
<td class="data">1,253,832</td>
<td class="data">1,089,898</td>
<td class="data">5.77%</td>
<td class="data">165.556</td>
<td class="data">793,223</td>
<td class="data">739,525</td>
</tr><tr><td class="data1">7</td><td class="name">Rajasthan</td>
<td class="data">1,020,989</td>
<td class="data">942,586</td>
<td class="data">4.99%</td>
<td class="data">143.179</td>
<td class="data">711,627</td>
<td class="data">677,428</td>
</tr><tr><td class="data1">8</td><td class="name">Andhra Pradesh</td>
<td class="data">972,782</td>
<td class="data">862,957</td>
<td class="data">4.57%</td>
<td class="data">131.083</td>
<td class="data">672,018</td>
<td class="data">621,301</td>
</tr><tr><td class="data1">9</td><td class="name">Telangana</td>
<td class="data">969,604</td>
<td class="data">861,031</td>
<td class="data">4.56%</td>
<td class="data">130.791</td>
<td class="data">663,258</td>
<td class="data">612,828</td>
</tr><tr><td class="data1">10</td><td class="name">Madhya Pradesh</td>
<td class="data">906,672</td>
<td class="data">809,592</td>
<td class="data">4.29%</td>
<td class="data">122.977</td>
<td class="data">561,801</td>
<td class="data">522,009</td>
</tr><tr><td class="data1">11</td><td class="name">Kerala</td>
<td class="data">-</td>
<td class="data">781,653</td>
<td class="data">4.14%</td>
<td class="data">118.733</td>
<td class="data">-</td>
<td class="data">559,412</td>
</tr><tr><td class="data1">12</td><td class="name">Delhi</td>
<td class="data">856,112</td>
<td class="data">774,870</td>
<td class="data">4.10%</td>
<td class="data">117.703</td>
<td class="data">634,408</td>
<td class="data">590,569</td>
</tr><tr><td class="data1">13</td><td class="name">Haryana</td>
<td class="data">831,610</td>
<td class="data">734,163</td>
<td class="data">3.89%</td>
<td class="data">111.519</td>
<td class="data">572,240</td>
<td class="data">531,085</td>
</tr><tr><td class="data1">14</td><td class="name">Bihar</td>
<td class="data">611,804</td>
<td class="data">530,363</td>
<td class="data">2.81%</td>
<td class="data">80.562</td>
<td class="data">414,977</td>
<td class="data">375,651</td>
</tr><tr><td class="data1">15</td><td class="name">Punjab</td>
<td class="data">574,760</td>
<td class="data">526,376</td>
<td class="data">2.79%</td>
<td class="data">79.957</td>
<td class="data">418,868</td>
<td class="data">397,669</td>
</tr><tr><td class="data1">16</td><td class="name">Odisha</td>
<td class="data">521,275</td>
<td class="data">487,805</td>
<td class="data">2.58%</td>
<td class="data">74.098</td>
<td class="data">396,499</td>
<td class="data">376,877</td>
</tr><tr><td class="data1">17</td><td class="name">Assam</td>
<td class="data">-</td>
<td class="data">315,881</td>
<td class="data">1.67%</td>
<td class="data">47.982</td>
<td class="data">-</td>
<td class="data">234,048</td>
</tr><tr><td class="data1">18</td><td class="name">Chhattisgarh</td>
<td class="data">329,180</td>
<td class="data">304,063</td>
<td class="data">1.61%</td>
<td class="data">46.187</td>
<td class="data">243,477</td>
<td class="data">231,182</td>
</tr><tr><td class="data1">19</td><td class="name">Jharkhand</td>
<td class="data">328,598</td>
<td class="data">297,204</td>
<td class="data">1.57%</td>
<td class="data">45.145</td>
<td class="data">240,036</td>
<td class="data">224,986</td>
</tr><tr><td class="data1">20</td><td class="name">Uttarakhand</td>
<td class="data">-</td>
<td class="data">245,895</td>
<td class="data">1.30%</td>
<td class="data">37.351</td>
<td class="data">-</td>
<td class="data">193,273</td>
</tr><tr><td class="data1">21</td><td class="name">Jammu &amp; Kashmir</td>
<td class="data">-</td>
<td class="data">155,956</td>
<td class="data">0.83%</td>
<td class="data">23.690</td>
<td class="data">-</td>
<td class="data">112,755</td>
</tr><tr><td class="data1">22</td><td class="name">Himachal Pradesh</td>
<td class="data">165,472</td>
<td class="data">153,845</td>
<td class="data">0.81%</td>
<td class="data">23.369</td>
<td class="data">124,403</td>
<td class="data">117,851</td>
</tr><tr><td class="data1">23</td><td class="name">Goa</td>
<td class="data">80,449</td>
<td class="data">73,170</td>
<td class="data">0.39%</td>
<td class="data">11.115</td>
<td class="data">63,408</td>
<td class="data">57,787</td>
</tr><tr><td class="data1">24</td><td class="name">Tripura</td>
<td class="data">55,984</td>
<td class="data">49,845</td>
<td class="data">0.26%</td>
<td class="data">7.571</td>
<td class="data">40,583</td>
<td class="data">36,963</td>
</tr><tr><td class="data1">25</td><td class="name">Chandigarh</td>
<td class="data">-</td>
<td class="data">42,114</td>
<td class="data">0.22%</td>
<td class="data">6.397</td>
<td class="data">-</td>
<td class="data">31,192</td>
</tr><tr><td class="data1">26</td><td class="name">Puducherry</td>
<td class="data">38,253</td>
<td class="data">34,433</td>
<td class="data">0.18%</td>
<td class="data">5.230</td>
<td class="data">25,093</td>
<td class="data">23,013</td>
</tr><tr><td class="data1">27</td><td class="name">Meghalaya</td>
<td class="data">36,572</td>
<td class="data">33,481</td>
<td class="data">0.18%</td>
<td class="data">5.086</td>
<td class="data">26,695</td>
<td class="data">24,682</td>
</tr><tr><td class="data1">28</td><td class="name">Sikkim</td>
<td class="data">32,496</td>
<td class="data">28,723</td>
<td class="data">0.15%</td>
<td class="data">4.363</td>
<td class="data">20,017</td>
<td class="data">18,722</td>
</tr><tr><td class="data1">29</td><td class="name">Manipur</td>
<td class="data">31,790</td>
<td class="data">27,870</td>
<td class="data">0.15%</td>
<td class="data">4.233</td>
<td class="data">20,673</td>
<td class="data">19,300</td>
</tr><tr><td class="data1">30</td><td class="name">Nagaland</td>
<td class="data">-</td>
<td class="data">27,283</td>
<td class="data">0.14%</td>
<td class="data">4.144</td>
<td class="data">-</td>
<td class="data">17,647</td>
</tr><tr><td class="data1">31</td><td class="name">Arunachal Pradesh</td>
<td class="data">-</td>
<td class="data">24,603</td>
<td class="data">0.13%</td>
<td class="data">3.737</td>
<td class="data">-</td>
<td class="data">16,676</td>
</tr><tr><td class="data1">32</td><td class="name">Mizoram</td>
<td class="data">26,503</td>
<td class="data">22,287</td>
<td class="data">0.12%</td>
<td class="data">3.385</td>
<td class="data">18,797</td>
<td class="data">16,478</td>
</tr><tr><td class="data1">33</td><td class="name">Andaman &amp; Nicobar Islands</td>
<td class="data">-</td><td class="data">-</td><td class="data">-</td>
<td class="data">-</td><td class="data">-</td><td class="data">-</td></tr>
</tbody>
<tfoot>
<tr style="background-color:#66FFC2"><td class="data1"></td><td class="name">India</td>
<td class="data">20,351,013</td>
<td class="data">18,886,957</td>
<td class="data"></td><td class="data">2,869</td>
<td class="data">14,569,268</td>
<td class="data">14,003,316</td>
</tr>
</tfoot>
</table>

In [53]:

header_tags= required_table.find_all('th')
headers=[header.text.strip() for header in header_tags]
print(headers)

['Rank', 'State', 'GSDP (Cr INR at Current prices)', 'Share', 'GDP ($billion)', 'GSDP (Cr INR at 2011-12 prices)', '19-20', '18-19', '18-19', '2019', '19-20', '18-19']

In [54]:
rows=[]

data_rows=required_table.find_all('tr')
for row in data_rows:
    value=row.find_all('td')
    beautified_value=[dp.text.strip() for dp in value]
    print(beautified_value)
    
    if len(beautified_value) == 0:
        continue
        
    rows.append(beautified_value)

[]
[]
['1', 'Maharashtra', '-', '2,632,792', '13.94%', '399.921', '-', '2,039,074']
['2', 'Tamil Nadu', '1,845,853', '1,630,208', '8.63%', '247.629', '1,312,929', '1,215,307']
['3', 'Uttar Pradesh', '1,687,818', '1,584,764', '8.39%', '240.726', '1,166,817', '1,123,982']
['4', 'Gujarat', '-', '1,502,899', '7.96%', '228.290', '-', '1,186,379']
['5', 'Karnataka', '1,631,977', '1,493,127', '7.91%', '226.806', '1,156,039', '1,091,077']
['6', 'West Bengal', '1,253,832', '1,089,898', '5.77%', '165.556', '793,223', '739,525']
['7', 'Rajasthan', '1,020,989', '942,586', '4.99%', '143.179', '711,627', '677,428']
['8', 'Andhra Pradesh', '972,782', '862,957', '4.57%', '131.083', '672,018', '621,301']
['9', 'Telangana', '969,604', '861,031', '4.56%', '130.791', '663,258', '612,828']
['10', 'Madhya Pradesh', '906,672', '809,592', '4.29%', '122.977', '561,801', '522,009']
['11', 'Kerala', '-', '781,653', '4.14%', '118.733', '-', '559,412']
['12', 'Delhi', '856,112', '774,870', '4.10%', '117.703', '634,408', '590,569']
['13', 'Haryana', '831,610', '734,163', '3.89%', '111.519', '572,240', '531,085']
['14', 'Bihar', '611,804', '530,363', '2.81%', '80.562', '414,977', '375,651']
['15', 'Punjab', '574,760', '526,376', '2.79%', '79.957', '418,868', '397,669']
['16', 'Odisha', '521,275', '487,805', '2.58%', '74.098', '396,499', '376,877']
['17', 'Assam', '-', '315,881', '1.67%', '47.982', '-', '234,048']
['18', 'Chhattisgarh', '329,180', '304,063', '1.61%', '46.187', '243,477', '231,182']
['19', 'Jharkhand', '328,598', '297,204', '1.57%', '45.145', '240,036', '224,986']
['20', 'Uttarakhand', '-', '245,895', '1.30%', '37.351', '-', '193,273']
['21', 'Jammu & Kashmir', '-', '155,956', '0.83%', '23.690', '-', '112,755']
['22', 'Himachal Pradesh', '165,472', '153,845', '0.81%', '23.369', '124,403', '117,851']
['23', 'Goa', '80,449', '73,170', '0.39%', '11.115', '63,408', '57,787']
['24', 'Tripura', '55,984', '49,845', '0.26%', '7.571', '40,583', '36,963']
['25', 'Chandigarh', '-', '42,114', '0.22%', '6.397', '-', '31,192']
['26', 'Puducherry', '38,253', '34,433', '0.18%', '5.230', '25,093', '23,013']
['27', 'Meghalaya', '36,572', '33,481', '0.18%', '5.086', '26,695', '24,682']
['28', 'Sikkim', '32,496', '28,723', '0.15%', '4.363', '20,017', '18,722']
['29', 'Manipur', '31,790', '27,870', '0.15%', '4.233', '20,673', '19,300']
['30', 'Nagaland', '-', '27,283', '0.14%', '4.144', '-', '17,647']
['31', 'Arunachal Pradesh', '-', '24,603', '0.13%', '3.737', '-', '16,676']
['32', 'Mizoram', '26,503', '22,287', '0.12%', '3.385', '18,797', '16,478']
['33', 'Andaman & Nicobar Islands', '-', '-', '-', '-', '-', '-']
['', 'India', '20,351,013', '18,886,957', '', '2,869', '14,569,268', '14,003,316']

In [55]:
with open('gdp1.csv','w') as output:
    writer=csv.writer(output)
    writer.writerow(headers)
    writer.writerows(rows)

In [56]:
eco=pd.read_csv('gdp1.csv',encoding='latin1')

In [57]:
eco.head()

,Rank,State,GSDP (Cr INR at Current prices),Share,GDP ($billion),GSDP (Cr INR at 2011-12 prices),19-20,18-19,18-19.1,2019,19-20.1,18-19.2
0,1.0,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074",NaN,NaN,NaN,NaN
1,2.0,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307",NaN,NaN,NaN,NaN
2,3.0,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982",NaN,NaN,NaN,NaN
3,4.0,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379",NaN,NaN,NaN,NaN
4,5.0,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077",NaN,NaN,NaN,NaN

In [58]:
stats=eco.drop(['GSDP (Cr INR at Current prices)','GSDP (Cr INR at 2011-12 prices)','18-19.1','2019','19-20.1','18-19.2'],axis=1)

In [59]:
stats

,Rank,State,Share,GDP ($billion),19-20,18-19
0,1.0,Maharashtra,"2,632,792",13.94%,-,"2,039,074"
1,2.0,Tamil Nadu,"1,630,208",8.63%,"1,312,929","1,215,307"
2,3.0,Uttar Pradesh,"1,584,764",8.39%,"1,166,817","1,123,982"
3,4.0,Gujarat,"1,502,899",7.96%,-,"1,186,379"
4,5.0,Karnataka,"1,493,127",7.91%,"1,156,039","1,091,077"
5,6.0,West Bengal,"1,089,898",5.77%,"793,223","739,525"
6,7.0,Rajasthan,"942,586",4.99%,"711,627","677,428"
7,8.0,Andhra Pradesh,"862,957",4.57%,"672,018","621,301"
8,9.0,Telangana,"861,031",4.56%,"663,258","612,828"
9,10.0,Madhya Pradesh,"809,592",4.29%,"561,801","522,009"
10,11.0,Kerala,"781,653",4.14%,-,"559,412"
11,12.0,Delhi,"774,870",4.10%,"634,408","590,569"
12,13.0,Haryana,"734,163",3.89%,"572,240","531,085"
13,14.0,Bihar,"530,363",2.81%,"414,977","375,651"
14,15.0,Punjab,"526,376",2.79%,"418,868","397,669"
15,16.0,Odisha,"487,805",2.58%,"396,499","376,877"
16,17.0,Assam,"315,881",1.67%,-,"234,048"
17,18.0,Chhattisgarh,"304,063",1.61%,"243,477","231,182"
18,19.0,Jharkhand,"297,204",1.57%,"240,036","224,986"
19,20.0,Uttarakhand,"245,895",1.30%,-,"193,273"
20,21.0,Jammu & Kashmir,"155,956",0.83%,-,"112,755"
21,22.0,Himachal Pradesh,"153,845",0.81%,"124,403","117,851"
22,23.0,Goa,"73,170",0.39%,"63,408","57,787"
23,24.0,Tripura,"49,845",0.26%,"40,583","36,963"
24,25.0,Chandigarh,"42,114",0.22%,-,"31,192"
25,26.0,Puducherry,"34,433",0.18%,"25,093","23,013"
26,27.0,Meghalaya,"33,481",0.18%,"26,695","24,682"
27,28.0,Sikkim,"28,723",0.15%,"20,017","18,722"
28,29.0,Manipur,"27,870",0.15%,"20,673","19,300"
29,30.0,Nagaland,"27,283",0.14%,-,"17,647"
30,31.0,Arunachal Pradesh,"24,603",0.13%,-,"16,676"
31,32.0,Mizoram,"22,287",0.12%,"18,797","16,478"
32,33.0,Andaman & Nicobar Islands,-,-,-,-
33,NaN,India,"18,886,957",NaN,"14,569,268","14,003,316"

IMDB

In [60]:
url = "https://www.imdb.com/list/ls095964455/"
page3 = r.get(url)

In [61]:
soup3 = BeautifulSoup(page3.content)

In [62]:
name = soup3.find_all("h3", class_="lister-item-header")
# get text from movie name web elements
tv_name = [] #empty list
for i in name:
    for j in i.find_all("a"):
        tv_name.append(j.text)

In [63]:
year = soup3.find_all("span",class_="lister-item-year text-muted unbold")
year_span = [] #empty list
for k in year:
    year_span.append(k.text)

In [64]:

# IMDB Rating
rating = soup3.find_all("div",class_="ipl-rating-star small")

# scrape text from rating web element
IMDB_rating = [] #empty list
for i in rating:
      IMDB_rating.append(float(i.text))

In [65]:
genre = soup3.find_all("span",class_="genre")
Genre = [] #empty list
for k in genre:
    Genre.append(k.text)

In [66]:
time = soup3.find_all("span",class_="runtime")
runtime = [] #empty list
for k in time:
    runtime.append(k.text)

In [67]:
df=pd.DataFrame({"Name":tv_name,"Year_span":year_span,"Rating":IMDB_rating,
                "Genre":Genre, "Run_time":runtime})
df

,Name,Year_span,Rating,Genre,Run_time
0,Game of Thrones,(2011–2019),9.3,"\nAction, Adventure, Drama",57 min
1,Stranger Things,(2016– ),8.7,"\nDrama, Fantasy, Horror",51 min
2,The Walking Dead,(2010–2022),8.2,"\nDrama, Horror, Thriller",44 min
3,13 Reasons Why,(2017–2020),7.6,"\nDrama, Mystery, Thriller",60 min
4,The 100,(2014–2020),7.6,"\nDrama, Mystery, Sci-Fi",43 min
...,...,...,...,...,...
95,Reign,(2013–2017),7.5,"\nDrama, Fantasy",42 min
96,A Series of Unfortunate Events,(2017–2019),7.8,"\nAdventure, Comedy, Drama",50 min
97,Criminal Minds,(2005–2020),8.0,"\nCrime, Drama, Mystery",42 min
98,Scream: The TV Series,(2015–2019),7.1,"\nComedy, Crime, Drama",45 min
99,The Haunting of Hill House,(2018),8.6,"\nDrama, Horror, Mystery",572 min

naukri

In [116]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.naukri.com/data-science-recruiters"
driver.get(url)

In [117]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [118]:
titles=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in titles:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

In [119]:
len(Name)

50

In [120]:
Name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'Jayanth N',
 'SREEDHAR',
 'Radha Manivasagam',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'Shailja Mishra',
 'Sunny Sharma']

In [121]:
desig=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in desig:
    if i.text is None :
        Designation.append("--") 
    else:
        Designation.append(i.text)

In [122]:
len(Designation)

50

In [123]:
comp=driver.find_elements_by_xpath("//a[2][@class='ellipsis']")
for i in comp:
    if i.text is None :
        Company.append("--") 
    else:
        Company.append(i.text)

In [124]:
len(Company)

50

In [125]:
skill=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skill:
    if i.text is None :
        Skills.append("--") 
    else:
        Skills.append(i.text)

In [126]:
len(Skills)

50

In [127]:
loc=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in loc:
    if i.text is None :
        Location.append("--") 
    else:
        Location.append(i.text)

In [128]:
len(Location)

48

In [129]:
df=pd.DataFrame({"Name":Name,"Designation":Designation,"Company":Company,
                "Skills":Skills})
df

,Name,Designation,Company,Skills
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele..."
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re..."
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar..."
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee..."
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine..."
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product..."
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne..."
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software..."
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti..."
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading..."
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy..."
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn..."
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac..."
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,..."
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage..."
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ..."
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical..."

UCI

In [85]:
driver=webdriver.Chrome("chromedriver.exe") 

url = "https://archive.ics.uci.edu/"
driver.get(url)

In [86]:
search_button=driver.find_element_by_xpath("//a[@href='datasets.php']")
search_button.click()

In [87]:
Dataset_name=[]

dname=driver.find_elements_by_xpath("//p[@class='normal']/b")
for i in dname:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)

In [88]:
len(Dataset_name)

588

In [89]:
Data_type=[]

try:

    types=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")

    for i in types:

        Data_type.append(i.text)

except NoSuchElementException: #handling no such element exception

    Data_type.append('No details available')

print(len(Data_type))

589

In [90]:
Data_type.remove('Data Types')
print(len(Data_type))

588

In [91]:
Task=[]

try:

    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")

    for i in task:

        Task.append(i.text)

except NoSuchElementException: #handling no such element exception

    Task.append('No details available')

print(len(Task))

589

In [92]:
Task.remove('Default Task')
print(len(Task))

588

In [93]:
Attribute_type=[]

try:

    attr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")

    for i in attr:

        Attribute_type.append(i.text)

except NoSuchElementException: #handling no such element exception

    Attribute_type.append('No details available')

print(len(Attribute_type))

589

In [94]:
Attribute_type.remove('Attribute Types')
print(len(Attribute_type))

588

In [95]:
No_instances=[]

try:

    inst=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")

    for i in inst:

        No_instances.append(i.text)

except NoSuchElementException: #handling no such element exception

    No_instances.append('No details available')

print(len(No_instances))

589

In [96]:
No_instances.remove('# Instances')
print(len(No_instances))

588

In [97]:
No_attribute=[]

try:

    no_attr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")

    for i in no_attr:

        No_attribute.append(i.text)

except NoSuchElementException: #handling no such element exception

    No_attribute.append('No details available')

print(len(No_attribute))

589

In [98]:
No_attribute.remove('# Attributes')
print(len(No_attribute))

588

In [99]:
Year=[]

try:

    year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")

    for i in year:

        Year.append(i.text)

except NoSuchElementException: #handling no such element exception

    Year.append('No details available')

print(len(Year))

589

In [100]:
Year.remove('Year')
print(len(Year))

588

In [101]:
uci=pd.DataFrame({"Dataset_name":Dataset_name,"Data_type":Data_type,"Task":Task,
                "Attribute_type":Attribute_type,"No_instances":No_instances,"No_attribute":No_attribute,"Year":Year})
uci

,Dataset_name,Data_type,Task,Attribute_type,No_instances,No_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

guru99.com

In [103]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.guru99.com/exception-handling-selenium.html"
driver.get(url)

In [104]:

Names=[]

try:

    name=driver.find_elements_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]")

    for i in name:

        Names.append(i.text)

except NoSuchElementException: #handling no such element exception

    Names.append('No details available')

print(len(Names))

42

In [105]:
Names.remove('Exception name')
print(len(Names))

41

In [106]:
Description=[]

try:

    desc=driver.find_elements_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]")

    for i in desc:

        Description.append(i.text)

except NoSuchElementException: #handling no such element exception

    Description.append('No details available')

print(len(Description))

42

In [107]:
Description.remove('Description')
print(len(Description))

41

In [108]:
df=pd.DataFrame({"Names":Names,"Description":Description})
df

,Names,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Github

In [6]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://github.com/"
driver.get(url)

In [7]:
explore_button=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]")
explore_button.click()

In [8]:
trend_button=driver.find_element_by_xpath("//ul[2][@class='list-style-none mb-3']/li[3]/a")
trend_button.click()

In [9]:
Repository_title=[]
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    if i.text is None :
        Repository_title.append("--") 
    else:
        Repository_title.append(i.text)

In [10]:
len(Repository_title)

25

In [11]:
Repos_desc=[]

description=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in description:
    if i.text is None :
        Repos_desc.append("--") 
    else:
        Repos_desc.append(i.text)

In [12]:
len(Repos_desc)

25

In [13]:
Contributors_count=[]

count=driver.find_elements_by_xpath("//div[2][@class='f6 color-text-secondary mt-2']/a[2]")
for i in count:
    if i.text is None :
        Contributors_count.append("--") 
    else:
        Contributors_count.append(i.text)

In [14]:
len(Contributors_count)

25

In [15]:
df=pd.DataFrame({"Repository_title":Repository_title,"Repos_desc":Repos_desc,"Contributors_count":Contributors_count})
df

,Repository_title,Repos_desc,Contributors_count
0,facebookresearch / AugLy,"A data augmentations library for audio, image,...",54
1,programthink / zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,"2,113"
2,megaease / easegress,A Cloud Native traffic orchestration system,192
3,keras-team / keras,Deep Learning for humans,"18,731"
4,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,95
5,tailwindlabs / tailwindcss,A utility-first CSS framework for rapid UI dev...,"1,984"
6,n8n-io / n8n,Free and open fair-code licensed node based Wo...,"1,327"
7,harvester / harvester,Open source hyperconverged infrastructure (HCI...,198
8,organicmaps / organicmaps,"🍃 Organic Maps is a better fork of MAPS.ME, an...",41
9,longhorn / longhorn,Cloud-Native distributed block storage built o...,380
10,rancher / rancher,Complete container management platform,"2,240"
11,rustdesk / rustdesk,Yet another remote desktop software,482
12,kwai / DouZero,[ICML 2021] DouZero: Mastering DouDizhu with S...,53
13,cariboulabs / cariboulite,CaribouLite turns any 40-pin Raspberry-Pi into...,13
14,willmcgugan / textual,A Text User Interface with Rich as the renderer,17
15,prisma / prisma,Next-generation ORM for Node.js & TypeScript |...,492
16,apache / incubator-shenyu,ShenYu is High-Performance Java API Gateway.,"1,597"
17,academic / awesome-datascience,📝 An awesome Data Science repository to learn ...,"4,532"
18,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,568
19,bats3c / DarkLoadLibrary,LoadLibrary for offensive operations,39
20,EssayKillerBrain / EssayKiller_V2,基于开源GPT2.0的初代创作型人工智能 | 可扩展、可进化,484
21,gohugoio / hugo,The world’s fastest framework for building web...,"5,959"
22,thanos-io / thanos,Highly available Prometheus setup with long te...,"1,281"
23,benthecoder / yt-channels-DS-AI-ML-CS,A comprehensive list of YouTube Channels for D...,29
24,AkashSingh3031 / The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,316